node_modules
dist
build
coverage
.env
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.DS_Store
*.log
uploads
.vite
.idea
.vscode

# Railway
.railway
railway.local.json
